/.vscode
/<!DOCTYPE html>.html
/<html lang="en">.html
/OBJECT ORIENTED .html
/Untitled-1.html
/array.html
/assignemtnt.js
/assignment 
/for loop.html
/fruitchoice.html
/index.html
/main.css
/script.js